@model StockScreener.Models.StockPurchase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StockPurchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BoughtAt" class="control-label"></label>
                <input asp-for="BoughtAt" class="form-control" />
                <span asp-validation-for="BoughtAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockIndex" class="control-label"></label>
                <input asp-for="StockIndex" class="form-control" />
                <span asp-validation-for="StockIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SharesQuantity" class="control-label"></label>
                <input asp-for="SharesQuantity" class="form-control" />
                <span asp-validation-for="SharesQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
